.section1 {
    background-color: #2ecc71;
    height: 90vh;
    overflow: hidden;
}

@media (min-width: 900px) {
    .left-iphone {
        margin-top: 35vh;
        margin-left: 15vw;
    }
}

@media (max-width: 900px) {
    .left-iphone {
        margin-top: 20vh;
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: center;
    }
}

.app-title {
    font-family: Helvetica ,sans-serif;
    font-size: 4.17em;
    font-weight: 100;
    color: #fff;
}

.app-subtitle {
    font-family: Helvetica, sans-serif;
    font-size: 1.78em;
    font-weight: 100;
    color: #fff;
}

@media (min-width: 900px) {
    .appstore-badge {
        margin-top: 75px;
        font-family: Helvetica, sans-serif;
        height: 105px;
        width: 240px;
        color: #fff;
        border: solid 1px #fff;
        border-radius: 5px;
    }
}

@media (max-width: 900px) {
    .appstore-badge {
        display: none;
        font-family: Helvetica, sans-serif;
        height: 105px;
        width: 240px;
        color: #fff;
        border: solid 1px #fff;
        border-radius: 5px;
    }
}
.appstore-badge h3 {
    font-size: .67em;
    margin-bottom: 0px;
    margin-left: 30px;
}
.appstore-badge h2 {
    font-size: 1.3em;
    margin-top: 0px;
    margin-left: 30px;
}

@media (min-width: 900px) {
    .iphone {
        position: relative;
        padding: 95px 0px 0px 4px;
        margin-top: 15vh;
        margin-left: 0;
        width: 320px;
        height: 672px;
        background: url('../images/iphone-front.png') no-repeat;
        background-size: 100%;
        z-index: 0;
    }
}

@media (max-width: 900px) {
    .iphone {
        position: relative;
        padding: 95px 0px 0px 4px;
        margin-top: 10vh;
        margin-left: 10px;
        width: 320px;
        height: 672px;
        background: url('../images/iphone-front.png') no-repeat;
        background-size: 100%;
        z-index: 0;
    }
}

.iphone-screen {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 278px;
    height: 670px;
    background: url('../images/growme-screenshot.png') no-repeat;
    background-size: 100%;
    overflow: hidden;
    z-index: 1;
}

.section2 {
    overflow: hidden;
}

.full-width {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.content {
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    color: #000;
}

.content-strip {
    height: 10vh;
    width: 100%;
    text-align: center;
}

@media (min-width: 900px) {
    .content-strip h3 {
        padding-top: 3vh;
        font-size: 1.6em;
        font-weight: 300;
    }
}

@media (max-width: 900px) {
    .content-strip h3 {
        padding-top: 0vh;
        font-size: 1.6em;
        font-weight: 300;
    }
}

@media (max-width: 900px) {
    .content-box {
        width: 96vw;
        height: 45vh;
        margin: 0 auto;
        margin-top: 2vh;
        margin-bottom: 2vh;
        text-align: center;
        overflow: hidden;
    }
}

@media (min-width: 900px) {
    .content-box {
        width: 40vw;
        height: 45vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
        text-align: center;
        overflow: hidden;
    }
}

.content-box-title {
    color: #2ecc71;
    font-weight: 300;
    font-size: 2.2em;
    margin-bottom: 2px;
}

.content-box-description {
    font-weight: 300;
    font-size: 1.3em;
    margin-top: 5px;
    margin-right: 4vw;
    margin-left: 4vw;
}

.row-banner {
    margin-top: 4vh;
    margin-left: 2vw;
    margin-right: 2vw;
}


@media (max-width: 900px) {
    .top {
        margin-top: 7vh;
    }

    .bottom {
        margin-bottom: 10vh;
    }
}

@media (min-width: 900px) {
    .top {
        margin-top: 3vh;
    }

    .bottom {
        margin-bottom: 10vh;
    }
    .left {
        margin-left: 10vw;
    }

    .right {
        margin-right: 10vw;
    }
}

.content-box-img {
    margin: 0 auto;
    width: 160px;
    height: 160px;
}

#box-1 {
    background: url('../images/list-pic.png') no-repeat;
    background-size: 100%;
}

#box-2 {
    background: url('../images/choices-pic.png') no-repeat;
    background-size: 100%;
}

#box-3 {
    margin-top: 55px;
    height: 105px;
    background: url('../images/notification-pic.png') no-repeat;
    background-size: 100%;
}

#box-4 {
    margin-top: 60px;
    height: 100px;
    background: url('../images/schedule-pic.png') no-repeat;
    background-size: 100%;
}

.section3 {
    height: 15vh;
    overflow: hidden;
}

.footer {
    background-color: #2ecc71;
    height: 100%;
    text-align: center;
}

.footer ul {
    list-style: none;
    padding-top: 4vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

@media(max-width: 900px) {
    .footer ul {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 900px) {
    .footer li {
        display: inline;
        font-family: Helvetica, sans-serif;
        font-size: 1.22em;
        font-weight: 100;
        color: #fff;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 0px;
    }
}

@media (max-width: 900px) {
    .footer li {
        display: inline;
        font-family: Helvetica, sans-serif;
        font-size: 1.22em;
        font-weight: 100;
        color: #fff;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
    }
}

.footer li a {
    color: #fff;
    font-weight: 400;
}
